body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}



h2 {
    color: #4CAF50;
}

.dog-section {
    display: flex; /* Use flexbox to align items */
    justify-content: space-around; /* Space the items evenly */
    margin: 20px; /* Add some margin for spacing */
}

.dog-container {
    flex: 1; /* Each container will take equal width */
    padding: 10px; /* Add some padding */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}